.form {
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  padding-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:last-child {
  padding-bottom: 0;
}

.form__input {
  border-radius: 4px;
  block-size: 60px;
  margin-bottom: 32px;
  border: 1px solid #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
  text-indent: 20px;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2d80ed;
  background-image: url("../images/check.svg");
  height: 20px;
  width: 20px;
}
.form__button {
  opacity: 1;
  margin-bottom: 32px;
  transition: opacity 0.3s ease-in;
  block-size: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
